<div class="scroll-container">

  <section class="section w-full bg-white">
    <div class="w-full h-full lg:px-24 md:px-16 sm:px-8 banner-title flex justify-start items-center">
      <div class="lg:w-3/6 md:w-4/6 mt-[-8rem]">
        <h1 class="lg:text-7xl md:text-5xl sm:text-3xl font-extralight">Crafting sustainable<br>web solutions</h1>
        <br>
        <p class="mb-8">We help businesses and individuals bring their ideas online and create people-centered digital solutions, that are functional, eco-conscious and ethical at the same time.</p>
        <%= link_to "BOOK A CALL", root_path, class: "button-primary"%>
      </div>
    </div>
  </section>

  <section class="section flex bg-brand-primary">
    <div class="w-5/6">
    </div>
    <div class="w-1/6">
      <div class="vertical-line-tall bg-white"></div>
    </div>
  </section>


  <section class="section bg-white">
    <div class="flex justify-around w-1/6">
      <div class="vertical-line-short bg-brand-primary"></div>
      <div class="vertical-line-tall bg-brand-primary"></div>
    </div>
    <div class="w-5/6">
    </div>
  </section>

  <section class="section flex bg-brand-primary">
    <div class="w-5/6">
    </div>
    <div class="flex justify-around w-1/6">
      <div class="vertical-line-tall bg-white"></div>
      <div class="vertical-line-short bg-white"></div>
    </div>
  </section>
</div>
